
.header {
	vertical-align: top;
	position: relative;
	// position: fixed;
	left: 0;
	right: 0;
	top: 0;
	border-bottom: solid 1px $border_color;
	// background: $title_color;
	
	@media(max-width: $tablet){
		border-bottom: 0;
	}

	&.fix{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 98px;
		// overflow: hidden;
		z-index: 9999;
		box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
		
		@media(max-width: $tablet){
			display: none;
		}
	}

	&:after{
		height: 56px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		content: ' ';
		z-index: 1;
		background: #ffffff;

		@media(max-width: $tablet){
			display: none;
		}
	}
	
	.row{
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		z-index: 2;
		height: 135px;

		@media(max-width: $tablet){
			height: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__infore_time{
		@media(max-width: $tablet){
			display: none;
		} 
	}

	&__btn_wrap{
		font-size: 0;
		line-height: 0;

		@media(max-width: $tablet){
			display: none;
		}
	}

	&__day{
		font-size: 18px;
		line-height: 56px;
		padding: 0  20px;
		display: inline-block;
		border-right: solid 1px $border_color;
	}

	&__time{
		font-size: 18px;
		line-height: 56px;
		padding: 0  20px;
		display: inline-block;
	}
}
.gamburger{
	display: none;
	// float: left;
	height: 50px;
	width: 50px;
	background: url($base_img + 'gamburger.png') center center no-repeat;
	background-size: contain;
	cursor: pointer;
	margin: 35px 0;

	&:hover{
		background-image: url($base_img + 'gamburger_hov.png');
	}

	@media(max-width: $tablet){
		display: block;
	}

	@media(max-width: $mobile){
		float: left;
	}

	&__close{
		height: 25px;
		width: 25px;
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
		cursor: pointer;
		background: url($base_img + 'close.png') center center no-repeat;
		background-size: contain;

		@media(max-width: $tablet){
			display: block;
		}

		@media(max-width: $mobile){
			top: 5px;
			right: 5px;
			height: 15px;
			width: 15px;
		}
	}

	&__content{

		.mCSB_scrollTools{
			opacity: 0;
			right: -100px;
		}

		@media(max-width: $tablet){
			position: fixed;
			top: 0;
			width: 100%;
			max-width: 625px;
			left: -640px;
		    z-index: 100;
		    padding: 50px 45px;
		    @include transition(all 0.2s ease-out 0.1s);
		    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
		    min-height: 100%;
		    background: #ffffff;

		    &.open{
		    	left: 0;
		    }
		}

		@media(max-width: $mobile){
			padding: 25px 20px;
		}

		@media(min-width: $tablet + 1){
			display: flex !important;
			opacity: 1 !important;
			float: none;
			justify-content: space-between;
		}
	}
}
.lang{
	font-size: 14px;
	line-height: 14px;
	color: $text_color;
	padding-right: 15px;
	background: right center no-repeat;
	background-size: 14px 14px;
	cursor: pointer;
	display: block;
	margin: 4px 0;

	&:hover{
		color: $active_color;
	}

	&.active{
		color: $active_color;
		text-decoration: underline;
	}

	&[for="#lang__item_1"]{
		background-image: url($base_img + 'lang__item_1.png');
	}
	&[for="#lang__item_2"]{
		background-image: url($base_img + 'lang__item_2.png');
	}
	&[for="#lang__item_3"]{
		background-image: url($base_img + 'lang__item_3.png');
	}

	&__wrap{
		position: relative;
		z-index: 20;
		margin-right: 20px;
		max-width: 100px;
	}

	&__active{
		position: relative;

		&:after{
			position: absolute;
			top: 50%;
			right: 0;
			content: ' ';
			border: solid 5px transparent;
			border-top-color: $active_color;
			z-index: -1;
		}

		@media(max-width: $tablet){
			display: none;
		}
	}

	&__item{
		display: none;
		width: 85px;
		padding-right: 50px;
		background: 35px center no-repeat;
		background-size: 20px 20px;
		cursor: pointer;
		line-height: 56px;
		text-decoration: none;

		&.active{
			display: block;
		}
	}

	&__dropdown{
		position: absolute;
		top: 40px;
		display: none;
		padding: 15px;
		left: -15px;
		right: 0;
		background: #ffffff;
		box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

		@media(max-width: $tablet){
			display: block !important;
			opacity: 1 !important;
			background-color: transparent;
			position: static;
			box-shadow: none;
			padding: 0
		}
	}
}

#lang__item_1{
	background-image: url($base_img + 'lang__item_1.png');
}
#lang__item_2{
	background-image: url($base_img + 'lang__item_2.png');
}
#lang__item_3{
	background-image: url($base_img + 'lang__item_3.png');
}

.person{
	position: relative;
	padding-right: 85px;
	z-index: 20;
	order: 10;

	@media(max-width: $desktop){
		padding-right: 65px;
	}

	&__name{
		padding: 0 25px;
		background: url($base_img + 'person.png') left center no-repeat;
		position: relative;
		line-height: 56px;
		font-size: 18px;
		cursor: pointer;

		&:after{
			position: absolute;
			top: 50%;
			right: 0;
			content: ' ';
			border: solid 5px transparent;
			border-top-color: $active_color;
		}

		@media(max-width: $tablet){
			font-size: 28px;
			background-image: none;
			padding: 0;
			line-height: 32px;
			margin-bottom: 30px;

			&:after{
				display: none;
			}
		}
	}

	&__menu{
		left: 0;
		right: 0;
		top: 40px;
		padding: 15px;
		position: absolute;
		display: none;
		background: #ffffff;
		box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);

		@media(max-width: $tablet){
			display: block !important;
			opacity: 1 !important;
			background-color: transparent;
			position: static;
			box-shadow: none;
			margin-bottom: 40px;
			padding: 0
		}

		a, a:link, a:hover, a:visited, a:active, a:focus{
			color: $text_color;
			text-decoration: none;
			font-size: 14px;
			line-height: 14px;
			margin: 7px 0;
			display: block;

			@media(max-width: $tablet){
				margin: 10px 0;
				font-size: 19px;
				line-height: 20px;
			}
		}
		
		a:hover{
			color: $active_color;
			text-decoration: underline;
		}
	}
}

.log_block{
	order: 10;
	font-size: 0;
	line-height: 0;
	padding: 20px 0;

	@media(max-width: $tablet){
		padding: 0;
		margin-bottom: 30px;
	}

	&__log_in{
		padding: 0 20px 0 25px;
		background: url($base_img + 'person.png') left center no-repeat;
		
		@media(max-width: $tablet){
			padding-right: 0;
		}
	}

	&__registr{
		padding: 0 20px;
		border-left: solid 2px $border_color;

		@media(max-width: $tablet){
			padding: 0;
			border-left: 0;
		}
	}
}

.logo{
	position: absolute;
	top: 100%;
	margin-top: 15px;

	@media(max-width: $tablet){
		position: static;
		margin: 10px auto;
	}

	@media(max-width: $mobile){
		float: right;
		margin: 10px 0;
	}
}

.curses{
	display: flex;
	justify-content: space-between;
	height: 78px;
	margin: 0 0-$standart_padd_row;
	align-items: center;

	@media(max-width: $tablet){
		display: block;
		height: auto;
		text-align: right;
	}

	@media(max-width: $mobile){
		width: 100%;
		text-align: center;
		float: left;
	}

	&__block{
		padding: 5px $standart_padd_row;

		&--first_block{
			font-weight: bold;
		}
	}
	

	&__text{
		font-size: 18px;
		line-height: 24px;
		color: $text_color;
		display: inline-block;
		margin-right: 5px;
	}
	
	&__num{
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: $buy_color;
		display: inline-block;

		&--color{
			color: $sell_color;
		}
	}
}

.footer{
	background: #ffffff;
	&__links{
		text-align: center;
		padding: 20px 0;

		a, a:link, a:hover, a:visited, a:active, a:focus{
			display: inline-block;
			padding: 0 20px;
			color: $text_color;
			font-size: 14px;
			line-height: 15px;
			text-decoration: underline;
			border-left: solid 1px $text_color;

			&:first-of-type{
				border-left: 0;
			}

			@media(max-width: $mobile){
				padding: 0 10px;
			}
		}
		a:hover{
			text-decoration: none;
		}
	}
}


