

$desktop: 1430px - 1px;
$tablet: 960px - 1px;
$mobile: 640px - 1px;

$standart_padd_row: 15px;

$base_img: './../images/';

.col_wrap{
	margin: 0 - $standart_padd_row;

	
	&:after{
		content:" ";
		display: block;
		height: 0;
		clear: both;
	}
}
.col_padd{
	padding: $standart_padd_row;

}

$col: 1;

@for $col from 1 through 12 {
	.col_#{$col} {
		@extend .col_padd;
		float: left;
		width: $col / 12 * 100%;
	}
}

.to_right{
	float: right;
}

.row_padding{
	padding-top: 100px;
	padding-bottom: 100px;

	
	@media(max-width: $mobile){
		padding-top: 64px;
		padding-bottom: 64px;
	}
}

.container{
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.row{
	// @extend .row_padding;
	padding: $standart_padd_row;
	margin: 0 auto; 
	max-width: 1430px;
	width: 100%;
	
	&:after{
		content:" ";
		display: block;
		height: 0;
		clear: both;
	}
}

$text_color: #555555;
$light_text: #9d9d9d;
$sell_color: #d25e6e;
$buy_color: #4db1db;
$active_color: #1d89cf;
$dop_active: #1671ac;
$table_head-bg: #ececec;
$bg_color: #f0f3f4;
$scroll_color: #a0a0a0;
$border_color: #dfdfdf;
$btc_neo_bg: #106ca7;
$btc_neo_bd: #2578ad;
$btc_neo_scroll: #84badd;
$btc_neo_serch: #035a92;

